/* ===================
   General styles
   =================== */
header {
  min-height: 100px;
  color: #96897f;
  font-family: georgia;  
  font-weight: bold
}
html {
  background: linear-gradient(to bottom right, gainsboro, white);
}
img {
width: 100%
}
section#personal div.content-wrapper img {
  width: 100px;
  float: left;
  margin-right: 30px;
}
section#personal div,
section#social div,
section#articles div {
  min-height: 100px;
  margin: 15px;
  font-family: georgia;
  }
section#personal div {
  background: #c8c3cc;
  color: black
	}
section#social div {
  background: #563f46;
  color: white
	}
section#articles div {
  background: #8ca3a3;
  color: black
	}
section#personal div.media-wrapper {
background: white
}

section#personal,
section#social,
section#articles {
	display: grid;
  	grid-gap: 15px;
  	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  	}
 /* ===================
   iframe video fix
   =================== */ 
  section#social div.video-container {
  position: relative;
  width: 100%;
}
section#social div.video-container iframe {
  position: absolute;
  top: 0; left: 0;
  margin-left: 15px;
  width: 80%;
  height: 80%;
}	